<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type=text/javascript src="{{url_for('static', filename='app.js') }}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
   <title>Fuel Quote</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="/">Fuel Quote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/Management">Home</a>
                    <a class="nav-item nav-link" href="/Registration">Profile Registration</a>
                    <a class="nav-item nav-link" href="/history">Fuel Quote History</a>

                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sign Out</a>
                  </div>
                </div>
              </div>
            </nav>
          </header>


  <div class="col-md-6">
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
     
    <div class="content-section">
        <form method="POST" action="">
            {{form.hidden_tag() }}
          <fieldset class="form-group">
           <div class="form-group">
               {{form.gallons_requested.label(class="form-control-label")}}

                {%if form.gallons_requested.errors%}
                    {{form.gallons_requested(class="form-control form-contrl-lg is-invalid")}}
                    <div class= "invalid-feedback">
                      {% for error in form.gallons_requested.errors %}
                         <span>{{ error}} </span>
                      {% endfor %}
                    </div>
                {% else %}
                    {{form.gallons_requested(class="form-control form-contrl-lg", id="gals_req")}}
                {%endif%}
           </div> 

            <div class="form-group">
              {{form.delivery_address.label(class="form-control-label")}}
              {{form.delivery_address(class="form-control form-contrl-lg")}}
               
            </div> 

            <div class="form-group">
              {{form.delivery_date.label(class="form-control-label")}}
              {%if form.delivery_date.errors%}
                  {{form.delivery_date(class="form-control form-contrl-lg is-invalid")}}
                    <div class= "invalid-feedback">
                       {% for error in form.delivery_date.errors %}
                        <span>{{ error}} </span>
                       {% endfor %}
                    </div>
                {% else %}
                    {{form.delivery_date(class="form-control form-contrl-lg")}}
                {%endif%}
            </div> 

            <div class="form-group">
              {{form.price.label(class="form-control-label")}}
              {{form.price(class="form-control form-contrl-lg")}}

            </div> 

            <div class="form-group" id="total">
              {{form.total.label(class="form-control-label")}}
              {{form.total(class="form-control form-contrl-lg", id="tot")}}
            </div>
          </fieldset>
          <div class="form-group">
            
            {{form.get_quote(class="btn btn-outline-info", value="Get Quote")}}

          </div>
          <div class="form-group">
            {{form.submit(class="btn btn-outline-info")}}
          </div>
        </form>
    </div>
</div>



        <p></p>
         <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>