<!DOCTYPE html>
<html>
<head>
    <title>Login and Registration Form</title>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_jay.css') }}">
    

</head>

<body>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
<div class="container">
    
<div class="card">
    
<div class="inner-box" id="card">
        
      
<div class="card-front">
    <h2>LOGIN</h2>
    

    <form action="" method="POST">
        
        {{ form.hidden_tag() }}

        <!--<input type="email" class="input-box" placeholder="Username" required>-->
        {{ form.username(type="text", placeholder="Username",class="input-box", id="username")}}
        <ul>
            {% for error in form.username.errors %}
                <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
            {% endfor %} 
        </ul>
        <!--<input type="password" class="input-box" placeholder="Password" required>-->
        {{ form.password(type="password", placeholder="Password",class="input-box", id="password")}}
        <ul>
            {% for error in form.password.errors %}
                <li style="color:red;font-size:10px;margin-left:15px">{{ error }}</li>
            {% endfor %}
        </ul>
        <button type="submit" class="submit-btn">Submit</button>
        
        <!--<input type="checkbox"><span>Remember Me</span>-->
    </form>
    <a href="register" ><button type="button" class="btn">I'm New Here</button></a>
    <!--<a href="">Forgot Password</a>-->
</div>



</body>

</html>

