<!DOCTYPE html>
<html>
<head>
    <title>Management</title>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
</head>
<body>
    <table class="table mt-5 text-center" id="ProfileInfo">
          <h2>Profile Information</h2>
        <thead>
          <tr>
            <th>Fullname</th>
            <th>Address 1</th>
            <th>Address2</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
          </tr>
        </thead>
        <tbody id="ProfileInfo">
        </tbody>
    </table>
</body>
</html>