<!DOCTYPE html>
<html>
    <head>
         <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
   <title>Registration</title>
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-info fixed-top">
              <div class="container">
                <a class="navbar-brand mr-4" href="/Registration">Profile Registration</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                  <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/Management">Home</a>
                    <a class="nav-item nav-link" href="/fuelQuote">Fuel Quote Form</a>
                    <a class="nav-item nav-link" href="/history">Fuel Quote History</a>

                  </div>
                  <!-- Navbar Right Side -->
                  <div class="navbar-nav">
                    
                    <a class="nav-item nav-link" href="{{ url_for('logout') }}">Sign Out</a>
                  </div>
                </div>
              </div>
            </nav>
          </header>
	<form action="" method="POST">

    {{ form.hidden_tag() }}

    <label for="fullname">Full Name:</label><br>
    {{ form.fullname(type="text", placeholder="fullname",class="input-box", id="fullname")}}
    <ul>
      {% for error in form.fullname.errors %}
          <li style="color:red;font-size:10px;" id="username_status">{{ error }}</li>
      {% endfor %} 
    </ul>

    <label for="address1">Address 1:</label><br>
    {{ form.address1(type="text", placeholder="address1",class="input-box", id="address1")}}
    <ul>
      {% for error in form.address1.errors %}
          <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
      {% endfor %} 
    </ul>

    <label for="address2">Address 2:</label><br>
    {{ form.address2(type="text", placeholder="address2",class="input-box", id="address2")}}
    <ul>
      {% for error in form.address2.errors %}
          <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
      {% endfor %} 
    </ul>

    <label for="city">City:</label><br>
    {{ form.city(type="text", placeholder="city",class="input-box", id="city")}}
    <ul>
      {% for error in form.city.errors %}
          <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
      {% endfor %} 
    </ul>

    <label for="state">State:</label><br>
    {{form.state()}}
    <u1>
      {% for error in form.state.errors %}
      <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
      {% endfor %}  
    </u1>
	
    <br><label for="zipcode">Zipcode:</label><br>
    {{ form.zipcode(type="text", placeholder="zipcode",class="input-box", id="zipcode")}}
    <ul>
      {% for error in form.zipcode.errors %}
          <li style="color:red;font-size:10px;margin-left:15px" id="username_status">{{ error }}</li>
      {% endfor %} 
    </ul>

 <input type="submit" value="Submit">
	</form>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>